<!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <% @discounts.each do |discount| %>
      <hr />
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <%= image_tag(discount.avatar.url, class: "img-responsive") if discount.avatar? %>
          </a>
        </div>
        <div class="col-md-5">
          <h3><%= discount.title %></h3>
          <h4>$<%= discount.price %>.-</h4>
          <%= link_to "Obtener promoción", discount, :class => "btn btn-primary" %>
        </div>
      </div>
      
      <% end %>
      <!-- /.row -->

      <hr>
    </div>