<!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <hr />
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <%= image_tag(@discount.avatar.url, class: "img-responsive") if @discount.avatar? %>
          </a>
        </div>
        <div class="col-md-5">
          <h3><%= @discount.title %></h3>
          <h4>$<%= @discount.price %>.-</h4>
          <h2>LISTO!! YA TIENES TU DESCUENTO. MUESTRA ESTA IMAGEN EN EL MESON</h2>
          <%= link_to "Volver", discounts_path, :class => "btn btn-primary" %>
        </div>
      </div>

      <!-- /.row -->
      
    </div>
