<!-- Page Content -->
    <h1>Humor</h1>
    
    <div class="container">

      <!-- Page Heading -->
      <% @jokes.each do |joke| %>
      <hr />
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <%= image_tag(joke.avatar.url, class: "img-responsive") if joke.avatar? %>
          </a>
        </div>
      </div>
      
      <% end %>
      <!-- /.row -->

      <hr>
    </div>